*{
padding: 0px;
margin: 0px;
}
/* home */
body{
    background-image: url("images/mn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#book img{
width: 500px;
height: 90px;
}
#nav-bar ul{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
}
#nav-bar ul li a:hover{
    color: aqua;
    transition: 0.5s;
    font-weight: bold;
}
#nav-bar a{
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-right: 40px;
    text-decoration:none ;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#text{ 
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    font-weight: bold;
}
table,th,td{
    text-align: center;
    border: 1px solid;
    width: 900px;
    border-color: rgba(109, 109, 109, 0.514);
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}
.gallery img{
    filter: grayscale(100);
    transition: 0.5s;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

footer{
    background-color: rgb(143, 127, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}
footer div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
span{
    font-weight: lighter;
    font-size: 20;
    margin-top: 20px;
    margin-bottom: 20px;
    }
.media{
    padding: 0px;
    text-align: center;
    transform: translate(2%);
    }
.media ul{
    display: flex;
    list-style: none;
    }
#links ul{
    list-style: none;
}
#links ul li a{
    text-decoration: none;
    color: black;
}
.media ul li img{
    width: 40px;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */

form{
    background-color: rgb(227, 233, 149);
    font-size: 30px;
    border-width: 10px;
    box-sizing: border-box;
    margin: 0px;
    padding: 16px 10px;
}
input{
    font-size: 20px;
    border-width: 3px;
}
select{
    font-size: 20px;
}

button{
    font-size: 20px;
    background-color: rgb(190, 154, 150);
    float: initial;
    box-shadow: 0 35px 66px 0 darkred(0,0,0,0.2),0 35px 40px 0 darkred(0,0,0,0.19) ;
    border-width: 5px;
}
input[type-text],textarea{
    width: 100px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type-submit]{
    background-color: darkturquoise;
    color: floralwhite;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
input[type-submit]:hover{
    background-color: rgb(143, 255, 92);
}
.con{
    text-align: center;
    background-color: rgb(161, 167, 86);
    font-size: 50px;
    border-width: 10px;
    box-sizing: border-box;
    margin: 0px;
    padding: 16px 10px;
    border-radius: 50px;
}